# Ignorar el entorno virtual
*.venv
.venv/
venv/
env/
**venv*/
# Ignorar metadatos de git o entornos locales
.git
.gitignore

# Archivos de desarrollo que no vas a necesitar
*.pyc
__pycache__/

# Si tienes node_modules u otros
node_modules/
dist/
backend/credentials/asr-service-poc-3009543e95ac.json
