SECRET_KEY=<insert-your-secret-key>
DEBUG=False
DB_NAME=<insert-your-db-name>
DB_USER=<insert-your-db-user>
DB_PASSWORD=<insert-your-db-password>
DB_HOST=<insert-your-db-host>
ASR_MODEL_URL=<insert-your-asr-model-url>
